/* ========== CSS RESET ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: var(--font-1);
}

html,
body {
  scroll-behavior: smooth;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  padding: 8px;
  background: var(--colour-1);
  color: var(--colour-3);
  height: 100vh;
  overflow: hidden;
}
